:root {
  --color-black: #071629;
  --color-charcoal: rgba(7, 22, 41, 0.501584);
  --color-grey: #676767;
  --color-white: #FFFFFF;
  --color-purple: #C271FF;
}

button:hover, button:active {
	opacity: 0.9;
}

html,body {
  height: 100%
  font-family: 'Source Sans Pro';
}

body {
  color: var(--color-white);
}

footer {
  background-color: var(--color-black);
  height: 140px;
}

.hero {
  background-color: var(--color-grey);
  background: url(images/pic_1.jpg) center 0 no-repeat;
  background-size: cover;
}

.prihero {
  background-color: var(--color-grey);
  background: url(images/pic_2.jpg) center 0 no-repeat;
  background-size: cover;
}

.profiles {
}

.rounded-pill {
  background-color: var(--color-purple);
}

#testimonial {
  background-color: var(--color-purple);
  color: var(--color-white);
}

#membership {
  background-color: var(--color-black);
  color: var(--color-white);
}

.tinythumb {
  height: 30px;
  width: 30px;
}
.tutorials {
  background-color: var(--color-white);
  height: 100%;
  color: var(--color-black);
}

#videos {
  background-color: var(--color-white);
  height: 100%;
  color: var(--color-black);
}

.card-img {
  height: 160px;
  width: 160px;
}

.card-img-top {
  height: 160px;
  width: 160px;
}

ul {
  list-style-type: none;
}

.purple {
  color: var(--color-purple);
}

button {
margin-bottom: 140px;
filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

$('.navbar-toggle').focus(function () { $.addClass('border border-warning'); });
