:root {
  --color-grey: #676767;
  --color-white: #FFFFFF;
  --color-purple: #C271FF;
}

button:hover, button:active {
	opacity: 0.9;
}

body {
  color: var(--color-white);
  background-color: var(--color-grey);
}

#hero {
  background: url(images/pic_1.jpg) center 0 no-repeat;
  background-size: cover;
}

#testimonial {
  background-color: var(--color-purple);
}

.card-img {
  height: 160px;
  width: 160px;
}

.card-img-top {
  height: 160px;
  width: 160px;
}

ul {
  list-style-type: none;
}

$('.navbar-toggle').focus(function () { $.addClass('border border-warning'); })
